In [ ]:
#import pandas as pd
#print("OK")

OK

In [2]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
conditions = pd.read_csv('../../data/aula_2_banco_de_dados/conditions.csv')
encounters = pd.read_csv('../../data/aula_2_banco_de_dados/encounters.csv')
patients = pd.read_csv('../../data/aula_2_banco_de_dados/patients.csv')

In [4]:
print("Conditions shape: ", conditions.shape)
print("Encounters shape: ", encounters.shape)
print("Patients shape: ", patients.shape)

Conditions shape:  (3541, 7)
Encounters shape:  (5745, 15)
Patients shape:  (111, 28)

In [5]:
print("DADOS DE PACIENTES")
display(patients.head(2), patients.tail(2))

print("\nDADOS DE ENCONTROS (CONSULTA MÉDICA OU IDA AO HOSPITAL)")
display(encounters.head(2), encounters.tail(2))

print("\nINFORMAÇÕES GERAIS DOS PACIENTES, INCLUINDO SOCIAIS")
display(conditions.head(2), conditions.tail(2))

DADOS DE PACIENTES

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,MIDDLE,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,FIPS,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,INCOME
0,412bf1a0-3e57-01f2-7e69-7bc2cbd1acd3,1982-11-02,NaN,999-53-6582,S99910791,X84728254X,Mr.,Boyd728,NaN,Weissnat378,NaN,NaN,M,white,hispanic,M,Swansea Massachusetts US,191 Runolfsson Drive Apt 19,Westfield,Massachusetts,Hampden County,25013.0,1085,42.105711,-72.808711,80142.20,27675.75,193773
1,28312ae6-e826-7ac3-e44d-1a766d71fc08,2007-12-01,NaN,999-79-5518,S99938570,NaN,Mr.,Kyle55,NaN,Blanda868,NaN,NaN,NaN,white,nonhispanic,M,Pittsfield Massachusetts US,224 Gerlach Plaza,Medford,Massachusetts,Middlesex County,25017.0,2155,42.398580,-71.121607,50039.43,22420.20,158957

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,MIDDLE,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,FIPS,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,INCOME
109,d3aa4d0d-b047-3d58-1d55-a0a4fc2fe67a,1973-02-25,NaN,999-89-5692,S99916081,X63204284X,Mrs.,Kyle55,Lamonica504,Thompson596,NaN,Rogahn59,M,white,nonhispanic,F,Fitchburg Massachusetts US,997 King Stravenue Unit 62,Waltham,Massachusetts,Middlesex County,25017.0,2472,42.376597,-71.217991,362691.23,254943.90,37357
110,b50d5753-604a-120e-932c-ff8dd8a0cc10,1943-09-09,NaN,999-83-6799,S99967646,X39241298X,Mrs.,Debby656,Bernita55,Conroy74,NaN,Nienow652,D,other,nonhispanic,F,Monson Massachusetts US,172 Sporer Bay,Agawam,Massachusetts,Hampden County,25013.0,1001,42.064518,-72.712464,1116799.24,1238619.92,70944

DADOS DE ENCONTROS (CONSULTA MÉDICA OU IDA AO HOSPITAL)

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,412bf1a0-3e57-01f2-8bf9-646b067b3347,2001-01-09T04:52:34Z,2001-01-09T05:33:52Z,412bf1a0-3e57-01f2-7e69-7bc2cbd1acd3,c4e5b33c-17b8-3f51-a8ba-a327d54e642a,dd01caa3-1285-35a4-8600-c264c0832e7e,b046940f-1664-3047-bca7-dfa76be352a4,wellness,162673000,General examination of patient (procedure),136.8,704.2,0.0,NaN,NaN
1,412bf1a0-3e57-01f2-daf8-4da5e0a33d09,2008-01-22T04:52:34Z,2008-01-22T05:35:36Z,412bf1a0-3e57-01f2-7e69-7bc2cbd1acd3,c4e5b33c-17b8-3f51-a8ba-a327d54e642a,dd01caa3-1285-35a4-8600-c264c0832e7e,b046940f-1664-3047-bca7-dfa76be352a4,wellness,162673000,General examination of patient (procedure),136.8,704.2,0.0,NaN,NaN

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
5743,b50d5753-604a-120e-64f9-951dfd4e3000,2025-03-27T19:52:08Z,2025-03-28T01:19:17Z,b50d5753-604a-120e-932c-ff8dd8a0cc10,4bc0cc09-77e5-37f5-844d-64a6637cae54,f37da3ef-b7bf-33b4-80ee-b755092ba329,a735bf55-83e9-331a-899d-a82a60b9f60c,ambulatory,185349003,Encounter for check up (procedure),85.55,4830.95,3864.76,103697008.0,Patient referral for dental care (procedure)
5744,b50d5753-604a-120e-0dd1-9cd02806799e,2025-08-23T19:52:08Z,2025-08-23T20:07:08Z,b50d5753-604a-120e-932c-ff8dd8a0cc10,4bc0cc09-77e5-37f5-844d-64a6637cae54,f37da3ef-b7bf-33b4-80ee-b755092ba329,a735bf55-83e9-331a-899d-a82a60b9f60c,ambulatory,390906007,Follow-up encounter (procedure),85.55,234.71,187.76,55822004.0,Hyperlipidemia (disorder)

INFORMAÇÕES GERAIS DOS PACIENTES, INCLUINDO SOCIAIS

,START,STOP,PATIENT,ENCOUNTER,SYSTEM,CODE,DESCRIPTION
0,2001-01-09,NaN,412bf1a0-3e57-01f2-7e69-7bc2cbd1acd3,412bf1a0-3e57-01f2-8bf9-646b067b3347,http://snomed.info/sct,105531004,Housing unsatisfactory (finding)
1,2001-01-09,NaN,412bf1a0-3e57-01f2-7e69-7bc2cbd1acd3,412bf1a0-3e57-01f2-8bf9-646b067b3347,http://snomed.info/sct,224299000,Received higher education (finding)

,START,STOP,PATIENT,ENCOUNTER,SYSTEM,CODE,DESCRIPTION
3539,2025-03-27,2025-03-27,b50d5753-604a-120e-932c-ff8dd8a0cc10,b50d5753-604a-120e-64f9-951dfd4e3000,http://snomed.info/sct,18718003,Gingival disease (disorder)
3540,2025-03-28,2025-03-28,b50d5753-604a-120e-932c-ff8dd8a0cc10,b50d5753-604a-120e-64f9-951dfd4e3000,http://snomed.info/sct,109570002,Primary dental caries (disorder)

In [6]:
conditions['DESCRIPTION'].head(20)

0                      Housing unsatisfactory (finding)
1                   Received higher education (finding)
2                            Social isolation (finding)
3                     Medication review due (situation)
4     Chronic intractable migraine without aura (dis...
5                        Full-time employment (finding)
6                      Limited social contact (finding)
7                        Part-time employment (finding)
8      Reports of violence in the environment (finding)
9                    Acute viral pharyngitis (disorder)
10                           Viral sinusitis (disorder)
11                       Full-time employment (finding)
12                           Viral sinusitis (disorder)
13            Chronic obstructive bronchitis (disorder)
14                    Medication review due (situation)
15                                     Stress (finding)
16                    Medication review due (situation)
17                         Not in labor force (finding)
18                    Medication review due (situation)
19                                Gingivitis (disorder)
Name: DESCRIPTION, dtype: object